.angular-modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6000;

    outline: 0;
}

.angular-modal.open {
    display: block;
}